name: Create tag and release draft

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'example: v1.0.0'
        required: true

env:
  TAG_NAME: ${{ github.event.inputs.tag_name }}

permissions:
  id-token: write
  contents: write
  actions: write

jobs:
  create-tag:
    name: create-tag
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "check tag_name. you must enter 'vN.N.N'"
          echo $TAG_NAME | grep -o -E "^(v[0-9]+\.){1}[0-9]+(\.[0-9]+)$"
      - uses: actions/checkout@v3
        with:
          # ターゲットブランチをmainに固定
          ref: main
          # 既存のタグを上書きしないようにfetchしておく。誤って既存タグを入力した場合「git tag」コマンドで重複エラーとなる。
          fetch-depth: 0
          persist-credentials: false
      - run: |
          git tag $TAG_NAME
          git push origin $TAG_NAME

  create-release-draft:
    name: create-release-draft
    needs: create-tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: softprops/action-gh-release@v1
        with:
          draft: true
          tag_name: ${{ env.TAG_NAME }}
          name: ${{ env.TAG_NAME }}
          body: ''
