name: Tag the api_server image with the specified version(dummy)
# タグ打ちによってこのworkflowが動作するかの検証用。
on:
  push:
    branches-ignore:
      - '**'
    tags:
      - v*
  workflow_run:
    workflows: ["Create tag and release draft"]
    types: ["completed"]

permissions:
  id-token: write
  contents: write
  actions: write

jobs:
  dummy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: |
          echo "It is a dummy job."
          REF=${{ github.ref }}
          echo $REF
          VERSION=${REF#refs/tags/}
          echo $VERSION
